@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f4f7f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anuphan: var(--font-anuphan);
  --font-torsilp: var(--font-torsilp);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anuphan), Arial, Helvetica, sans-serif;
}
